*/{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: grey;
}

.game{
    margin-top: 22%;
    display: flex;
    justify-content: center;
    background-color: aqua;
    color: chocolate;
    font-weight: 900;
    font-size: 70px;

}


